#root,
#paneSetting {
	-fx-background-color: #E8E8E8;
}

#tableBillDeltais,
#tblRevenue,
#tableStaff,
#tableClient,
#tableProduct,
#tableBill {
	-fx-background-color: #F5F5F5;
}

#txtFindBill,
#txtFindClient,
#txtFindStaff,
#txtFindProduct {
	-fx-background-color: none;
	-fx-border-width: 1px;
	-fx-border-color: #000;
	-fx-border-radius: 12px;
	-fx-font-size: 16px;
}

#txtFindBill:focused,
#txtFindStaff:focused,
#txtClient:focused,
#txtFindProduct:focused {
	-fx-background-color: none;
	-fx-text-inner-color: #fff;
	-fx-border-color: #0000FF;
	-fx-border-width: 1px;
}

#btnHome:hover,
#btnStaff:hover,
#btnClient:hover,
#btnProduct:hover,
#btnBill:hover,
#btnService:hover,
#btnBillDeltais:hover {
	-fx-cursor: hand;
	-fx-text-fill: linear-gradient(from 0.0% 19.697% to 100.0% 100.0%, #33b7f2 0.0%, #c74ef5 100.0%);
}

#addBillButton:hover,
#editBillButton:hover,
#delBillButton:hover,
#refreshBillButton:hover,
#addProductButton:hover,
#editProductButton:hover,
#delProductButton:hover,
#refreshProductButton:hover,
#addStaffButton:hover,
#editStaffButton:hover,
#delStaffButton:hover,
#refreshStaffButton:hover,
#addClientButton:hover,
#delClientButton:hover {
	-fx-effect: dropshadow(three-pass-box, #FF00FF, 10, 0, 1, 4);
}

#addBillButton:pressed,
#editBillButton:pressed,
#delBillButton:pressed,
#refreshBillButton:pressed,
#addProductButton:pressed,
#editProductButton:pressed,
#delProductButton:pressed,
#refreshProductButton:pressed,
#addStaffButton:pressed,
#editStaffButton:pressed,
#delStaffButton:pressed,
#refreshStaffButton:pressed,
#addClientButton:pressed,
#delClientButton:pressed {
	-fx-background-color: #0066FF;
}

#addBillButton,
#editBillButton,
#delBillButton,
#refreshBillButton,
#addClientButton,
#editClientButton,
#delClientButton,
#refreshClientButton,
#addProductButton,
#editProductButton,
#delProductButton,
#refreshProductButton,
#addStaffButton,
#delStaffButton {
	-fx-pref-height: 35;
	-fx-pref-width: 95;
	-fx-background-color: none;
	-fx-font-size: 16px;
	-fx-cursor: hand;
	-fx-border-width: 1px;
	-fx-border-color: #0066FF;
	-fx-text-fill: #0066FF;
	-fx-border-radius: 6px;
}

#rbtnStaff,
#rbtnManage {
	-fx-cursor: hand;
}



#lblAppName,
#lblNameStaff {
	-fx-text-fill: #000000;
	-fx-font-size: 20px;
}

#lblVersion,
#lblMail {
	-fx-text-fill: #000000;
	-fx-font-size: 16px;
}

#IDStaff,
#nameStaff,
#phoneStaff,
#emailStaff,
#password {
	-fx-font-size: 14px;
	-fx-background-color: none;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-border-color: #000;
	-fx-text-fill: #000;
}

#IDStaff:focused,
#nameStaff:focused,
#phoneStaff:focused,
#emailStaff:focused,
#password:focused {
	-fx-background-color: none;
	-fx-text-inner-color: #000;
	-fx-border-color: #0066FF;
}

#IDClient,
#nameClient,
#phoneClient,
#emailClient {
	-fx-font-size: 14px;
	-fx-background-color: none;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-border-color: #000;
	-fx-text-fill: #000;
}

#IDClient:focused,
#nameClient:focused,
#phoneClient:focused,
#emailClient:focused {
	-fx-background-color: none;
	-fx-text-inner-color: #000;
	-fx-border-color: #0066FF;
}


#IDProduct,
#nameProduct,
#priceProduct,
#txtIDStaff {
	-fx-font-size: 14px;
	-fx-background-color: none;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-border-color: #000;
	-fx-text-fill: #000;
}

#IDProduct:focused,
#nameProduct:focused,
#priceProduct:focused,
#txtIDStaff:focused {
	-fx-background-color: none;
	-fx-text-inner-color: #000;
	-fx-border-color: #0066FF;
}

