body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black !important;
    font-family: monospace;
}

.header-body {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: .1em solid #ff00d0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-logo {
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    background: linear-gradient(290deg, rgb(0, 38, 255), #db11ff,#ff00d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-logo > img {
    max-width: 50px;
}

.header-items {
    display: flex;
    justify-content: space-between;
}

.item-manga,
.item-anime {
    margin: 0 40px;
    font-size: 20px;
}

.item-manga > a,
.item-anime > a {
    color: #9d9d9d;
    text-decoration: none;
}

.item-manga:hover > span,
.item-anime:hover > span {
    width: 100%;
}

.item-manga > span,
.item-anime > span {
    height: .1em;
    width: 0;
    background-image: linear-gradient(to right, rgb(0, 38, 255), #db11ff,#ff00d0);
    display: block;
    transition: .5s linear;
    position: relative;
}

.header-search {
    position: relative;
}

.header-search .search-input {
    height: 40px;
    width: 350px;
    border-radius: 7px;
    border: 1px solid #ff00d0;
    background: transparent;
    padding: 10px;
    color: #ff00d0;
}

.header-search .search-input:focus ~ i {
    color: #9d9d9d;
}

.header-search .bi-search-heart {
    color: #ff00d0;
    font-size: 30px;
    position: absolute;
    right: 7px;
    top: -4px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list .btn-login {
    height: 40px;
    width: 125px;
    border-radius: 45px;
    background-color: transparent;
    border: 1px solid #db11ff;
    transition: .5s linear;
}

.header-list .btn-login:hover {
    box-shadow: 3px 3px 7px #db11ff;
}

.header-list .btn-login > span {
    color: #db11ff;
    font-size: 18px;
}

.header-list .btn-logout {
    margin: 0 30px;
    height: 40px;
    width: 125px;
    border-radius: 45px;
    background-color: #ff00d0;
    border: none;
    transition: .5s linear;
}

.header-list .btn-logout:hover {
    background-color: transparent;
    border: 1px solid #ff00d0;
}

.header-list .btn-logout > span {
    color: #9d9d9d;
    font-weight: bold;
    font-size: 18px;
}

.header-list .list > i {
    font-size: 40px;
    color: #9d9d9d;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    transition: .5s linear;
}

.header-list .list > i:hover {
    border: 1px solid #ff00d0;
    border-radius: 7px;
    color: #7f29ff;
}

.header-list .list > i:hover {
    cursor: pointer;
}

.header-list .list {
    position: relative;
}

.list-items {
    position: absolute;
    right: 4px;
    top: 65px;
    width: 200px;
    height: 250px;
    list-style: none;
    border-radius: 7px;
    border: 1px solid #db11ff;
}

.list-items li {
    display: block;
    margin: 20px 0;
    font-size: 18px;
    transition: .5s linear;
}

.list-items li > a {
    text-decoration: none;
    color: #7f29ff;
}

.list-items li:hover  {
    border-bottom: 1px solid #db11ff;;
}

/* Footer */

footer {
    background-color: #242424;
    margin-top: 100px;
    overflow: hidden;
}

.footer-logo {
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    background: linear-gradient(290deg, rgb(0, 38, 255), #db11ff,#ff00d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-logo > img {
    max-width: 50px;
    margin: 0 20px;
}

.col-2 > h6 {
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    background: linear-gradient(290deg, rgb(0, 38, 255), #db11ff,#ff00d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.col-2 a,
.col-2 li {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer .bi-facebook,
footer .bi-instagram,
footer .bi-twitter {
    font-size: 20px;
    color:#ff00d0;
}

.right {
    position: relative;
}

.right img {
    max-width: 600px;
    position: absolute;
    left: -165px;
    top: -30px;
}

footer > p {
    color: white;
    text-align: center;
}

/* 
    Content
*/

.banner {
    position: relative;
}

.banner > video {
   max-width: 100%;
}

.banner-content {
    position: absolute;
    left: 150px;
    top: 400px;
}

.banner-content .title {
    color: #fff;
    font-size: 90px;
    font-weight: bold;
    font-family: monospace;
}

.banner-content .subtitle {
    color: #fff;
    font-size: 23px;
    margin-bottom: 20px;
}

.banner-content .btn-learn {
    height: 50px;
    border: none;
    background-color: #fff;
    width: 200px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: bold;
    transition: .7s linear;
}

.banner-content .btn-learn:hover {
    background-color: #9d9d9d;
}

.special {
    position: absolute;
    top: 820px;
    left: 230px;
}

.special .special-title {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.special .special-items {
    height: 234px;
    width: 166px;
    background-color: #9d9d9d;
    display: block;
    border-radius: 12px;
    overflow: hidden;
}

.special-items img {
    max-width: 166px;
}

.featured {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-top: 280px;
}

.featured-wrap {
    width: 347px;
    height: 250px;
    background-color: #333;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.featured-title {
}

.featured-items > img {
    position: absolute;
    max-width: 120px;
    border-radius: 7px;
    border: 5px solid #000;
}

.featured-items > img:first-child {
    left: 30px;
    top: 65px;
    rotate: -12deg;
}

.featured-items > img:nth-child(2) {
    right: 100px;
    bottom: -2px;
}

.featured-items > img:last-child {
    right: 17px;
    rotate: 12deg;
    bottom: -33px;
}

.content-video  {

}

.content-video .poster-img {
    max-width: 235px;
    border-radius: 12px;
}

.content-video .card {
    align-items: center !important;
    background-color: transparent;
}

.content-video a {
    text-decoration: none;
}

.content-video .title {
    color: #fff;
    margin:12px 0;
}

.content-video  button {
    width: 75px;
    height: 35px;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid #ff00d0;
    color: #ff00d0;
    transition: .7s;
}

.content-video  button:hover {
    background-color: #db11ff;
}
